body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #FFFFFF;
    

}

.input-code {
    display: flex;
    justify-content: space-between;
}

.code-input {
    width: 52px;
    height: 64px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #dbdbdb;
    border-radius:6px;
    margin-right: 4px;
}


.scan-text {
    margin-top: 67px;
    font-size: 23px;
    color: #333;
    text-align: center;
    font-weight: 800;
    align-items: center;
}

/* Контейнер для кнопок с рамкой */
.keyboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 колонки для кнопок */
    grid-template-rows: repeat(4, 1fr); /* 4 ряда для кнопок */
    gap: 5px; /* Отступы между кнопками */
    margin-top: 63px; /* Отступ сверху */
    max-width: 370px; /* Максимальная ширина контейнера */
    width: 100%; /* Занимает всю доступную ширину */
    border: 0.5px solid #FFFFFF;
    box-shadow: 0 0 0 1px #FFFFFF;
    border-radius: 8px; /* Скругленные углы рамки */
    padding: 5px; /* Отступ внутри рамки */
    background-color: #bfc5ce;
    
}

/* Стиль для кнопок */
.key {
    padding: 3px; /* Отступы внутри кнопки */
    font-size: 22px; /* Размер шрифта */
    width: 120px;
    background-color: #FFFFFF; /* Цвет фона кнопки */
    border: 1px solid #ddd; /* Граница кнопки */
    border-radius: 5px; /* Скругление углов кнопки */
    cursor: pointer; /* Курсор при наведении */
    font-weight: 21; /* Жирный шрифт */
    transition: background-color 0.3s ease; /* Плавное изменение фона при наведении */
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    color: #000; 

}

.key:hover {
    background-color: #FFFFFF;
}

#scan, #send {
    grid-column: span 3;
    background-color: #f0f0f0;
    color: white;
}

#scan:hover, #send:hover {
    background-color: #FFFFFF;


}

#clear, #scan {
    grid-column: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#clear i, #scan i {
    font-size: 24px;
    font-weight: Bold;
}

#clear {
    background-color: #FFFFFF;
    color: black;
    font-weight: Bold;
    font-size: 25px;
}

#clear:hover {
    background-color: #FFFFFF;
}

#scan {
    background-color: #FFFFFF;
    font-size: 17px;
    color: black;
    font-weight: 2;
    flex-direction: column;
}

#scan svg {
    margin-top: 5px; /* Добавляем небольшой отступ между текстом и иконкой */
    width: 20px; /* Размер иконки */
    height: 20px; /* Высота иконки */

#scan:hover {
    background-color: #FFFFFF;
}

#zero {
    grid-column: span 1; /* Занимает 1 колонку */
    grid-row: 4; /* Находится в 4 ряду, под "8" */
    text-align: center;

@media (max-width: 768px) {
    .keyboard {
        grid-template-columns: repeat(3, 1fr); /* Колонки для мобильных */
        gap: 5px; /* Меньше промежутков между кнопками */
    }

    .key {
        padding: 12px; /* Уменьшаем отступы кнопок */
        font-size: 18px; /* Уменьшаем размер шрифта на мобильных */
    }

    /* Стили для других элементов */
    #scan {
        font-size: 16px; /* Меньше шрифт для кнопки "Сканировать" */
    }
    html, body {
    overflow: hidden; /* Отключает всю прокрутку */
    height: 100%;     /* Устанавливает высоту страницы в 100% */
    margin: 0;        /* Убирает отступы */

* {
    overflow: hidden; /* Отключает переполнение для всех элементов */
    word-wrap: break-word; /* Разбиение слов для предотвращения выхода текста за пределы */
}




